@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    font-family: 'Zen Old Mincho', serif;
    color: #7e9ec1;
}

.red {
    color: #FD5445;
}

.green {
    color: #2F5760;
}

.blue {
    color: #171a2f;
}

.white {
    background-color: #262e3f;
    border-radius: 4px;
    padding: 32px;
    /* width: 95%; */
    /* height: 760px; */
}

.w50 {
    max-width: 50%;
    margin: 0 8px;
}

.w50x {
    width: 49%;
}
.flex-bar1 {
    display: flex;
    justify-content: space-between;
}
.white-1 {
    background-color: #262e3f;
    border-radius: 4px;
    padding: 8px 16px 32px 16px;
}

.tag {
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #2F5760;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 16px 8px;
    display: inline-block;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

body {
    background-color: #202531;
    padding: 0 50px;
    max-width: 1600px;
    margin: auto;
}

h1 {
    font-size: 30px;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    font-weight: 900;
}

h3.tech {
    font-weight: 900;
    margin-bottom: 0;
}

.main {
    margin: 32px 16px 16px 32px;
}

#search_input, #dropdown {
    width: 100%;
    padding: 0 0px;
    /* height: 50px; */
    border-radius: 4px;
    /* background-color: #2F5760; */
    font-size: 16px;
    /* border: 1px solid #2cfcc4; */
}

.flex-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-bar-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.percentage {
    font-size: 35px;
    font-weight: 900;
}
.percentage_expl {
    font-size: 20px;
    align-self: center;
    margin-left: 12px;
}

#heatmap, .graph {
    background-color: #202531;
    /* border: 1px solid #171a2f; */
    border-radius: 4px;
}

.main-svg {
    background-color: transparent !important;
 }

.perc-back {
    background-color: #262e3f;
    border-radius: 4px;
    padding: 0 16px;
    margin: 16px 8px;
}

 .information-bar {
     margin-top: 32px;
     margin-bottom: 0;
 }

 .center {
     margin-top: 100px;
     text-align: center;
 }